<!DOCTYPE html>
<html lang="en">
@@include('../partials/head/head.html')

<body>
	@@include('../sections/preloader/preloader.html')
	<div class="wrapper">
		@@include('../layout/header.html')
		<main class="main">
			@@include('../sections/intro-section/intro-section.html')
			@@include('../sections/desk-section/desk-section.html')
			@@include('../sections/play-section/play-section.html')
			@@include('../sections/characters-section/characters-section.html')
			@@include('../sections/roadmap-section/roadmap-section.html')
			@@include('../sections/tokenomic-section/tokenomic-section.html')
			@@include('../sections/community-section/community-section.html')
			@@include('../sections/team-section/team-section.html')
		</main>
		@@include('../layout/footer-main.html')
	</div>
	<div class="footer-main">
		@@include('../partials/scripts/common.html')
	</div>
</body>

</html>