
@font-face {
  font-family: 'Joyride';
  src: url('../fonts/Joyride-Regular.woff2') format('woff2'),
      url('../fonts/Joyride-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MFred';
  src: url('../fonts/MFred.woff2') format('woff2'),
      url('../fonts/MFred.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Airborne';
  src: url('../fonts/Airborne.woff2') format('woff2'),
      url('../fonts/Airborne.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

