.footer-main {
  background-color: $bg-team;
  background-image: url('../images/noise-mainbg.png');
  // border-top: 0.5px solid #FFFFFF;
  @media (min-width: 1024px) {
    background-image: none;
    background-color: $footer-bg;
  }

  &__wrap {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $black;
    text-align: center;
    font-weight: 400;
    text-transform: lowercase;
    margin-bottom: 2rem;
    @media (min-width: 1024px) {
      color: $white;
    }
  }

  &__social {
    margin-bottom: 4rem;
  }
}