<footer class="footer-main bg-footer-grey" style="border-top: 0.5px solid #FFFFFF;">
  <div class="footer-main__wrap">

    <div class="footer-main__title">
      <h3 class="footer-title">© 2022 cybersmoker. All rights reserved.</h3>
    </div>

    <div class="social social--footer">
      <div class="social__wrapper">
        <ul class="social__lists">
          <li class="social__elem"><a class="social__items social__items--footer-main" href="#"><img src="assets/images/icon/discord-grey.svg"></a></li>
          <li class="social__elem"><a class="social__items social__items--footer-main" href="#"><img src="assets/images/icon/tg-grey.svg"></a></li>
          <li class="social__elem"><a class="social__items social__items--footer-main" href="#"><img src="assets/images/icon/tw-grey.svg"></a></li>
          <li class="social__elem"><a class="social__items social__items--footer-main" href="#"><img src="assets/images/icon/boat-grey.svg"></a></li>
        </ul>
      </div>
    </div>

  </div>
</footer>