<header class="header js-fixed-header">
  <div class="container">
    <div class="header__wrap">

      <nav class="nav js-burger">

        <ul class="nav__list">
          <li class="nav__item">
            <a href="index.html" class="nav__link active" id="linkHome"><span class="nav-text">Home</span></a>
          </li>
          <li class="nav__item">
            <a href="#roadmap" class="nav__link " id="linkRoadmap"><span class="nav-text js-link-to">roadmap</span></a>
          </li>
          <li class="nav__item">
            <a href="#tokenomic" class="nav__link" id="linkTokenomic"><span
                class="nav-text js-link-to">tokenomic</span></a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link" id="linkGitbook"><span class="nav-text js-link-to">gitbook</span></a>
          </li>
          <li class="nav__item">
            <a href="faq.html" class="nav__link" id="linkFaq"><span class="nav-text">faq</span></a>
          </li>

        </ul>

        <div class="nav__footer tablet">@@include('../layout/footer.html')</div>

      </nav>

      <div class="social tablet-none">
        <div class="social__wrapper">
          <ul class="social__lists">
            <li class="social__elem"><a href="#" class="social__items"><img src="assets/images/icon/discord-grey.svg"></a></li>
            <li class="social__elem"><a href="#" class="social__items"><img src="assets/images/icon/tg-grey.svg"></a></li>
            <li class="social__elem"><a href="#" class="social__items"><img src="assets/images/icon/tw-grey.svg"></a></li>
            <li class="social__elem"><a href="#" class="social__items"><img src="assets/images/icon/inst-grey.svg"></a></li>
          </ul>
        </div>
      </div>

      <div class="header__button desktop"><button class="nav-text">connect wallet</button></div>
      <div class="header__logo tablet"><a href="index.html"><img src="assets/images/icon/logo-icon.svg"></a></div>

    </div>


    <button class="burger js-burger-open">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>